/* Global reset */
html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Container class */
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Section class */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Header styles */
.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1158px;
}

.nav {
    display: flex;
    gap: 20px;
    color: #2e2f42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-color {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.nav-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    margin-top: 10px;
    font-style: normal;
}

.address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link {
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* Intro styles */
.intro {
    background-color: #2e2f42;
    text-align: center;
}

.intro-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.intro-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.intro-button:hover,
.intro-button:focus {
    background-color: #404bbf;
}

/* Services styles */
.services-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.services-item {
    background-color: #F4F4FD;
    padding: 20px;
    flex: 1 1 calc(50% - 20px);
}

.services-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.services-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team styles */
.team {
    background-color: #F4F4FD;
}

.team-container {
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team-item {
    background-color: #FFFFFF;
    flex: 1 1 calc(50% - 20px);
}

.team-item-container {
    padding: 32px;
    border-radius: 0px 0px 4px 4px;
    border-top: 4px solid #2e2f42;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* Portfolio styles */
.portfolio {
    background-color: #f4f4fd;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-item {
    background-color: #ffffff;
    padding: 20px;
    flex: 1 1 calc(33.33% - 20px);
    transition: transform 0.3s ease;
    border-bottom: 1px solid #2e2f42;
}

.portfolio-item:hover {
    transform: translateY(-10px);
}

.portfolio-img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.portfolio-project-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-project-category {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

/* Footer styles */
.footer {
    background-color: #2e2f42;
    text-align: center;
    padding: 20px 0;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}